@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
}

.quiz-section {
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(20px);
    padding: 2.5rem;
    border-radius: 24px;
    width: 90%;
    max-width: 500px;
    color: white;
}

.app-title {
    text-align: center;
    color: #FFCC70;
    margin-bottom: 20px;
}

.question {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

li {
    background: rgba(255,255,255,0.08);
    margin: 12px 0;
    padding: 16px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

li:hover {
    background: rgba(255,255,255,0.15);
}

input[type="radio"] {
    margin-right: 15px;
    transform: scale(1.3);
}

.button-section {
    display: flex;
    gap: 15px;
}

button {
    flex: 1;
    padding: 14px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #FFCC70;
}

.next-btn {
    background: #00d2ff;
    display: none;
}

.correct-hover {
    background: rgba(39,174,96,0.5);
}

.wrong-hover {
    background: rgba(192,57,43,0.5);
}
.result-section {
    text-align: center;
}